@import "tailwindcss";

.show_box {
    position: relative;
}

.hide_me {
    display: none;
}


.poke_hero_img_box {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.poke_hero_img_box .hero_poke_img {
    position: relative;
}

.poke_name_hero {
    text-transform: capitalize;
}

.hero_type_box {
    text-transform: capitalize;
}

.hero_type_box:after {
    content: "/";
    display: inline-block;
    margin: 0 8px;
}

.hero_type_box:last-child:after {
    content: "";
    display: none;
}

.features_box {
    margin-bottom: 70px;
}

.item_read_more_btn {
    color: #fff;
}

.img_type_box {
    max-width: 120px;
    margin: auto;
}

.type_item_box {
    text-align: center;
}

.logo_box {
    font-size: 28px;
    font-weight: 600;
    color: rgb(78 107 255 / var(--tw-bg-opacity));
}

.gallery_img_box {
    display: flex;
}