@import "tailwindcss";

.show_box {
    position: relative;
}

.hide_me {
    display: none;
}


.poke_hero_img_box {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.poke_hero_img_box .hero_poke_img {
    position: relative;
}

.poke_name_hero {
    text-transform: capitalize;
}

.hero_type_box {
    text-transform: capitalize;
}

.hero_type_box:after {
    content: "/";
    display: inline-block;
    margin: 0 8px;
}

.hero_type_box:last-child:after {
    content: "";
    display: none;
}

.features_box {
    margin-bottom: 70px;
}

.item_read_more_btn {
    color: #fff;
}

.img_type_box {
    max-width: 120px;
    margin: auto;
}

.type_item_box {
    text-align: center;
}

.logo_box {
    font-size: 28px;
    font-weight: 600;
    color: rgb(78 107 255 / var(--tw-bg-opacity));
}

.gallery_img_box {
    display: flex;
}

.who_poke_box {
    background-color: #ff4618;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.who_poke_box .spark_box {
    position: relative;
}

.who_poke_box .spark_box .poke_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: ease all 0.5s;
}

.who_poke_box .spark_box .hide_poke {
    filter: brightness(0.09);
    transform: scale(1.2);
}

.btn {
    background-color: #ffcb05;
    color: #000;
    padding: 10px 27px;
    border-radius: 100px;
    font-size: 22px;
    border: 8px solid #395ea8;
    font-weight: 800;
}

.who_button_box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list_box_container {
    padding: 0 15px;
}

.loader_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.95);
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lot_box {
    max-width: 80px;
}

.audio_box {
    display: none;
}

.sound_play_btn {
    border: 2px solid #4e6bff;
    padding: 3px 14px;
    border-radius: 8px;
    margin: 18px 0 8px;
    color: #000;
    font-size: 15px;
}

.sound_play_btn:hover {
    border: 2px solid #4e6bff;
    background-color: #4e6bff;
    color: #fff;
}

.random_cover {
    display: flex;
    justify-content: end;
    margin-bottom: 35px;
}

.spark_box h3.who_poke_name {
    font-size: 54px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 3px 29px #000;
    transition: ease all 0.5s;
}

.hide_poke+.who_poke_name {
    opacity: 0;
}

.logo_box {
    max-width: 150px;
}

@media screen and (max-width:767px) {
    .header_box {
        position: relative !important;
    }

    .who_poke_box {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .poke_img {
        width: 50vw;
    }

    .qmark_box {
        max-width: 45px;
    }

    .who_button_box {
        width: 70%;
    }

    .spark_box h3.who_poke_name {
        font-size: 30px;
        bottom: -8px;
    }


    .qf.list_box {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }

    .qf.list_box .yh {
        padding: 10px;
    }

    .qf.list_box .yh h4 a {
        font-size: 15px;
        text-transform: capitalize;
    }

}